<!doctype html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <vav th:replace="template :: navbar"/>
</header>
<main>
    <h1 class="text-center">Lecturers</h1>
    <div class="container">
        <table class="table" th:unless="${#lists.isEmpty(allLecturers)}">
            <thead>
            <tr>
                <th scope="col">Lecturer</th>
                <th scope="col">email</th>
                <th/>
            </tr>
            </thead>
            <tbody>
                <tr th:each="lecturer : ${allLecturers}" th:classappend="${lecturer.isActive() ? '':'alert alert-danger text-danger'}">
                    <td scope="row"><a href="#" th:href="@{/lecturers/lecturer(id=${lecturer.id})}" th:text="${lecturer.fullName}" th:classappend="${lecturer.isActive() ? '':'text-danger'}">lecturer name</a></td>
                    <td><a href="mailto:email@email.com" th:href="'mailto:' + ${lecturer.email}" th:text="${lecturer.email}" th:classappend="${lecturer.isActive() ? '':'text-danger'}">email@email.com</a></td>
                    <td><a th:href="@{/lecturers/lecturer/edit(id=${lecturer.id})}" class="btn btn-light"><i class="fas fa-user-edit ml-0"/></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col"/>
                    <th scope="col"/>
                    <td><a th:href="@{/lecturers/lecturer/new}" class="btn btn-success"><i class="fas fa-plus ml-0"/></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="template :: footer"/></body>
</html>