<!doctype html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <meta charset="utf-8">
    <title>Lessons</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
<header>
    <vav th:replace="template :: navbar"/>
</header>
<main>
    <h1 class="text-center">Lessons</h1>
    <div class="container">
        <table class="table" th:unless="${#lists.isEmpty(allLessons)}">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Course</th>
                <th scope="col">Lecturer</th>
                <th class="text-center" scope="col"># of attendees</th>
                <th scope="col"/>
                <th scope="col"/>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lesson : ${allLessons}">
                <td th:text="${lesson.date}">01/01/1900</td>
                <td th:text="${lesson.startTime} + ' - ' + ${lesson.endTime}">0:00 - 0:00</td>
                <td><a href="#" th:href="@{/courses/course(id=${lesson.course.id})}" th:text="${lesson.course.name}">course name</a></td>
                <td><a href="#" th:href="@{/lecturers/lecturer(id=${lesson.lecturer.id})}" th:text="${lesson.lecturer.fullName}">lecturer name</a></td>
                <td class="text-center" th:text="${lesson.students.size()}">10</td>
                <td><a th:href="@{/lessons/lesson/edit(id=${lesson.id})}" class="btn btn-light fas fa-edit"></a></td>
                <td><form action="#" th:action="@{/lessons/lesson/delete(id=${lesson.id})}" th:object="${lesson}" method="post">
                    <button type="submit" class="btn btn-light fas fa-trash"></button>
                </form></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5"/>
                <td colspan="2"><a th:href="@{/lessons/lesson/new}" class="btn btn-success"><em class="fas fa-plus ml-0"/></a></td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="template :: footer"/></body>
</html>