<!doctype html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
</head>
<body>
<header>
    <vav th:replace="template :: navbar"/>
</header>
<main>
    <div class="container my-5">
        <h1 class="header">new course</h1>
        <div class="card edit-card">
            <div class="card-body">
                <form action="#" th:action="@{/courses/course/add}" th:object="${course}" method="post" class="needs-validation" novalidate>
                    <div class="row">
                        <div class="form-group col-md-7 p-3">
                            <label for="courseName">Course Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="courseName" placeholder="Course Name" required>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-5 p-3">
                            <label for="author">Lecturer</label>
                            <select class="form-control" id="author" th:field="*{author.id}">
                                <option value="0" th:value="${course.author.id}" th:text="${course.author.id != null} ? ${course.author.fullName} : 'nobody'">lecturer name</option>
                                <option th:each="lecturer : ${lecturers}" th:value="${lecturer.id}" th:text="${lecturer.id != null} ? ${lecturer.fullName} : 'nobody'"></option>
                            </select>
                            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">Description</label>
                        <textarea type="text" th:field="*{description}" class="form-control" id="description" placeholder="Description" rows="3"></textarea>
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="template :: footer"/>
</body>
</html>