<!doctype html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <meta charset="utf-8">
    <title>Group Editor</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
</head>
<body th:onload="activeForm()">
<script th:inline="javascript">
   function activeForm(){
   activeGroup([[${group.active}]]);
   }
</script>
<header>
    <vav th:replace="template :: navbar"/>
</header>
<main>
    <div class="container my-5">
        <h1 class="header">Edit group</h1>
        <div class="card edit-card">
            <div class="card-body">
                <form action="#" th:action="@{/students/group/update(id=${group.id})}" th:object="${group}" method="post" class="needs-validation" novalidate>
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="groupName">Group Name</label>
                            <input type="text" th:field="*{name}" class="form-control" id="groupName" placeholder="Group Name" required>
                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="groupCapacity">Capacity</label>
                            <input type="number" min="5" max="30" th:field="*{capacity}" class="form-control" id="groupCapacity" placeholder="20" required>
                            <span th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-check p-4">
                        <input type="checkbox" th:field="*{active}" class="form-check-input" id="active" onClick="activeGroup(this.form.active.checked)">
                        <label class="form-check-label" for="active">active group</label>
                        <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>
<footer th:replace="template :: footer"/>
</body>
</html>