<!doctype html>
<html lang="en" xml:lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
    <meta charset="utf-8">
    <title>Students</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
</head>
<body>
<header>
    <vav th:replace="template :: navbar"/>
</header>
<main>
    <h1 class="text-center">Students</h1>
    <div class="container">
        <table class="table" th:unless="${#lists.isEmpty(allStudents)}">
            <thead>
                <tr>
                    <th scope="col">Student</th>
                    <th scope="col">email</th>
                    <th scope="col">group</th>
                    <th scope="col"/>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${allStudents}" th:classappend="${student.isActive() ? '':'alert alert-danger text-danger'}">
                    <td><a href="#" th:href="@{/students/student(id=${student.id})}" th:text="${student.fullName}" th:classappend="${student.isActive() ? '':'text-danger'}">student name</a></td>
                    <td><a href="mailto:email@email.com" th:href="'mailto:' + ${student.email}" th:text="${student.email}" th:classappend="${student.isActive() ? '':'text-danger'}">email@email.com</a></td>
                    <td><a href="#" th:href="@{/students/group(id=${student.group.id})}" th:text="${student.group.name}">group</a></td>
                    <td><a th:href="@{/students/student/edit(id=${student.id})}" class="btn btn-light fas fa-user-edit"></a></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col"/>
                    <th scope="col"/>
                    <th scope="col"/>
                    <td><a th:href="@{/students/student/new}" class="btn btn-success"><em class="fas fa-plus ml-0"/></a></td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>
<footer th:replace="template :: footer"/></body>
</html>